*{
	margin:10px;
}
body{
	background-color: #F8F8e3;
}
.bandera a{
	width: 2vw;
}

.bandera:visited{		/*Al clicar sobre un enlace, este cambia de color*/
	color: blue;
}

header{
	background-color: #D3D3D3;
	display: flex;
	justify-content: space-around;
	flex-direction: row;

}
#icono img{
	width: 10vw;
}
#botones{
	flex: 1 1 30%;
	
}
#traductores{
	flex:1 1 10%;
	text-align: center;
	
}
#infobasica{
	flex: 1 1 20%;
	padding-top: 1vh;
	
}

#eliminar{
	text-align: center;
}

button a{
	text-decoration: none;
	font-weight: 600;
	font-size: 20px;
	color: #ffffff;
}

.boton{
	padding: 10px;
	background-color: #1883ba;
	border-radius: 6px;
	border: 2px solid #0016b0;
}
.boton:hover{				/* Cuando la cursor pase por encima del boton, cambia de color*/
	background-color: #ffffff;
}
.boton:hover a{
	color: #1883ba;
}
section{
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}
#container{
	display: flex;
	flex-flow: row wrap;
}

.update a{
	color: black;
}

.product{
	text-align: center;
	border: 1px solid black;
	flex: 40%;
	padding: 1%;
}
.product img{
	width: 30%;
}
.product button a{
	color: bl;
}
.product a{
	color: blue;
}
.carrusel{
	display: flex;
	justify-content: center;
}
#imagenes {
	width: 70vw;
	height: 400px;
	background-size: cover;
	
}
#imagenes img{
	width: 70vw;
}

.imagenes{
	flex: 100%;
	text-align: center;
}

.imagenes img{
	width: 70%;
}

#divtiendas{
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}
.tiendas{
	flex: 22%;
	border-style: solid;
	text-align: center;
}
.tiendas img{
	width: 18vw;
	height: 25vh;
}
footer{
	display: flex;
	justify-content: center;
	background-color: #000000;
}
footer p{
	color: #FFFFFF;
}
h1 p{
	display: inline-block;
}
@media (max-width: 900px){   /* Una vez la página baje de los 900px de ancho, se adaptara con los siguiente cambios*/
	

	.tiendas{
		flex: 45%;
	}
	#icono img{
		flex: 40%;
	}
	#botones{
		flex: 40%;
		display:flex;
		flex-direction: column;
	}
	#traductores{
		flex: 40%;
	}
	#infobasica{
		flex: 40%;
	}
}

	@media (max-width: 600px){	/* Una vez la página baje de los 600px de ancho, se adaptara con los siguiente cambios*/
		header{
			flex-direction: column;
		}

		#botones{
			flex: 100%;
		}

		.boton{
			flex: 100%;
		}

		#icono{
			align-self: center;
		}


	}


