*{
	margin:10px;
}
body{
	background-color: #F8F8e3;
}
.bandera{
	width: 2vw;
	float: right;
}
header{
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
}
#icono img{
	width: 10vw;
}
#botones{
	margin-right: 5vw;
	margin-top: 5vh;
}

button a{
	text-decoration: none;
	font-weight: 600;
    font-size: 20px;
    color: #ffffff;
}

.boton{
    padding: 10px;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
  }
  .boton:hover{
  	background-color: #ffffff;
  }
  .boton:hover a{
    color: #1883ba;
  }
section{
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}
#imagenes img{
	width: 70vw;
}
#divtiendas{
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}
.tiendas{
	width: 20vw;
	border-style: solid;
}
.tiendas img{
	width: 18vw;
	height: 25vh;
}
footer{
	display: flex;
	justify-content: center;
	background-color: #000000;
}
footer p{
	color: #FFFFFF;
}