*{
	margin:10px;
}
body{
	background-color: #F8F8e3;
}
.bandera{
	width: 2vw;
	float: right;
}
header{
	background-color: #D3D3D3;
	display: flex;
	justify-content: space-around;
	flex-direction: row;

}
#icono img{
	width: 10vw;
}
#botones{
	flex: 1 1 30%;
	
}
#traductores{
	flex:1 1 10%;
	
}
#infobasica{
	flex: 1 1 20%;
	padding-top: 1vh;
	
}

button a{
	text-decoration: none;
	font-weight: 600;
    font-size: 20px;
    color: #ffffff;
}

.boton{
    padding: 10px;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
  }
  .boton:hover{
  	background-color: #ffffff;
  }
  .boton:hover a{
    color: #1883ba;
  }
section{
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}
#container{
	display: flex;
	flex-flow: row wrap;
}

.update a{
	color: black;
}

.product{
	text-align: center;
	border: 1px solid black;
	flex: 40%;
	padding: 1%;
}
.product img{
	width: 30%;
}
.carrusel{
	display: flex;
	justify-content: center;
}
#imagenes {
    width: 70vw;
    height: 400px;
	background-size: cover;
	
}
#imagenes img{
	width: 70vw;
}
#divtiendas{
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}
.tiendas{
	flex: 22%;
	border-style: solid;
	text-align: center;
}
.tiendas img{
	width: 18vw;
	height: 25vh;
}
footer{
	display: flex;
	justify-content: center;
	background-color: #000000;
}
footer p{
	color: #FFFFFF;
}
h1 p{
	display: inline-block;
}
@media (max-width: 900px){
	header{
		flex-direction: column;
		align-items: center
	}

	.tiendas{
		flex: 45%;
	}
	#icono img{
		flex: 40%;
	}
	#botones{
		flex: 40%;
		display:flex;
		flex-direction: column;
	}
	#traductores{
		flex: 40%;
	}
	#infobasica{
		flex: 40%;
	}
}

